/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'ProximaNovaThThin';
    src: url('fonts/ProximaNova-Thin-webfont.eot');
    src: url('fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Thin-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLtLight';
    src: url('fonts/ProximaNova-Light-webfont.eot');
    src: url('fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Light-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Light-webfont.svg#ProximaNovaLtLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('fonts/ProximaNova-Reg-webfont.eot');
    src: url('fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Reg-webfont.svg#ProximaNovaLtLight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ProximaNovaRgBold';
    src: url('fonts/ProximaNova-Bold-webfont.eot');
    src: url('fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Bold-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaThExtrabold';
    src: url('fonts/ProximaNova-Xbold-webfont.eot');
    src: url('fonts/ProximaNova-Xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProximaNova-Xbold-webfont.woff') format('woff'),
         url('fonts/ProximaNova-Xbold-webfont.ttf') format('truetype'),
         url('fonts/ProximaNova-Xbold-webfont.svg#ProximaNovaThExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"ProximaNovaLtLight";
	font-weight:200;
	font-style:normal;
	color:#C3F1FF;
}

ul{
	list-style-type: none;
	 list-style-position: inside;
	 list-style-image: url('images/bullets-tick.png');
	}

.story ul{
	font-size: 22px;
   line-height: 45px;
	}
img{
	border: 0;
}

h1, #pixels{
	font-family: "ProximaNovaRgBold";
font-size-adjust: 0.40;
font-weight: 700;
font-style: normal;
font-size: 51px;
line-height: 48px;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
	
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(images/firstBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height:600px;
	margin: 0 auto;
	padding: 0;
}

#intro h1{
color: #FFF;
}

#second{
	background: url(images/secondBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 670px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#secon p {
	font-size:13px;
}

#second .bg{
	background: url(images/trainers.png) 50% 0 no-repeat fixed;
	height: 670px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 380px;
	z-index: 200;
	left: -8px;
	top: 778px;
}

#third{
	background: url(images/thirdBG.jpg) 50% 0  fixed;
	color: white;
	height: 9713px;
	padding: 0;	
}
#third ul>li{
	font-size:15px;
	
	}

#fourth{
	background: url(images/secondBG.jpg) 50% 0 fixed;
	color: white;
	height: 670px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
#fourth p {
	font-size:13px;
}


.story{
	margin: 0 auto;
	min-width: 980px;
	/*overflow: auto;*/
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 454px;	
}

.widecontent{
	position: relative;
	width: 560px;	
padding: 39px 40px 37px 40px;
background-color: rgba(0, 0, 0, 0.5);
	
}
.widecontent ul>li{
        margin-bottom:10px
}

.widecontent ul{
	color:#FFF;
	line-height: 22px;
}
.widecontent ul a{
color: #6EBFFF;
font-weight: bold;
}

.intro-text{
width: 718px;
margin: auto;
text-align: center;
padding: 79px 40px 37px 40px;
background-color: rgba(0, 0, 0, 0.5);
	}

.bottom-options a, .bottom-options a:link, .bottom-options a:visited, .bottom-options a.active, .bottom-options a:hover{
  font-family: 'ProximaNovaRgBold';
  text-decoration:none;
  font-size:17px;
  color: black;
}

.art-button
{
  border: 0;
border-collapse: separate;
-webkit-background-origin: border !important;
-moz-background-origin: border !important;
background-origin: border-box !important;
background: #7DC148;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 7px 21px;
margin-right: 20px!important;
height: 24px;
font-size: 26px !important;
font-family: 'ProximaNovaRgBold';
color: #FFF;
text-decoration: none;
-khtml-box-shadow: rgba(0,0,0,0.5) 2px 3px 6px;
-moz-box-shadow: rgba(0,0,0,0.5) 2px 3px 6px;
box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 6px;
 
}


.header-main {
position: fixed!important;
background-color: #0055A4;
background-color: rgba(0, 85, 164, 0.8);
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
left: 0;
padding-bottom: 0.8em;
padding-top: 0.2em;
position: relative;
text-align: right;
top: 0;
width: 100%;
z-index: 1000;
}

.nav-header .nav-list {
list-style: none;
margin: 0;
padding: 0;
}

input[type="text"], input[type="submit"], select { 
font-family: "ProximaNovaRgBold";
font-size: 28px;
padding-left: 9px;
   border:none; 
   -webkit-border-radius:5px; 
   -moz-border-radius:5px; 
   border-radius:5px; 
   -webkit-box-shadow:0 0 5px #666 inset; 
   -moz-box-shadow:0 0 5px #666 inset; 
   box-shadow:0 0 5px #666 inset; 
   height:50px; 
   line-height:25px; 
   width:200px; 
   text-indent:5px; 
} 
input:focus { outline:none; }

.nav-header .nav-item .nav-link {
font-family: "ProximaNovaRgBold";
color: #FFF;
display: inline-block;
font-weight: 600;
padding: 1.2em 2.375em;
}
.nav-header .nav-item {
margin: .5em 0 .5em 1em;
}
nav .nav-item {
display: inline-block;
}
a {
	
text-decoration: none;
}

.header-main .logo {
float: left;
margin-top: .5em;
}
.logo {
font-family: "ProximaNovaRgBold";
color: #FFF;
font-weight: 600;
font-size: 30px;

height: 40px;
display: block;
margin: 0;
padding: 0;
}
.container {
width: 970px;
padding: 0;
margin-right: auto;
margin-left: auto;
max-width: 1330px;
}
.container:after {
clear: both;
}
.content_centre2 input, .content_centre2 select{
height: 30px;
font-size: 18px;

}

.content_centre2 {

text-align:left;
}

.content_centre2 label {
width: 167px;
display: block;
float: left;
text-align: right;
margin: 5px 13px 5px 5px;
}

.content_centre2 p{
margin: 0 0 7px 0;
}
input[type="checkbox"] {
	height: 14px;
width: 16px;
	}
	

/*CALCULATOOR*/


#calculator {
width: 325px;
height: auto;
margin: 100px auto;
padding: 20px 20px 9px;
background: #9DD2EA;
background: linear-gradient(#020C79, #357942);
border-radius: 3px;
box-shadow: 0px 4px #631F83, 0px 10px 15px rgba(0, 0, 0, 0.2);
font-family: 'ProximaNovaRgBold';
font-size:24px;

}


/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 40px;
	width: 212px;
	
	float: right;
	
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	user-select: none;
	
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #C2FDFF;
	margin-right: 0;
}

.keys span.eval {
	background: #0B99A5;
box-shadow: 0px 4px #585558;
color: #FFF;
}

.top span.clear {
	background: #0B99A5;
box-shadow: 0px 4px #585558;
color: #FFF;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #46D6B9;
	box-shadow: 0px 4px #585558;
	color: #ffffff;
}

.top span.clear:hover {
	background: #499AE6;
box-shadow: 0px 4px #585558;
color: #FFF;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
